.articles {
    text-align: center;
    margin-top: 4rem;

    &__title {
        @include widthauto(80%);
    }

    &__container {
        text-align: start;
        margin-top: 3rem;
        overflow-x: auto;
        white-space: nowrap;
    }

    &__show-all {
        @include widthauto(80%);
        color: $color-accent;
        border: 1px solid;
        border-radius: .5rem;
        padding: .5rem 0;
        margin-top: 2rem;
    }
}