.comment-card {
    display: inline-block;
    margin-left: 1rem;
    width: 300px;
    border: 1px solid #aaa;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    white-space: wrap;

    &__header {
        @include dflex(flex-start,center,row,nowrap);
        padding: 8px;
        gap: 1rem;

        &__img {
            width: 60px;
            height: 60px
        }

        &__stats {
            @include dflex(space-between, flex-start, column, nowrap);
            text-align: start;

            &__name {
                font-weight: normal;
            }

            &__edu {
                margin: 0;
                color: $color-text-gray;
            }
        }
    }

    &__text {
        text-align: start;
        padding: 8px;
    }

    @media (min-width: 768px) {
        border: none;
    }
}

.comment-card:first-child {
    margin-right: 10%;

    @media (min-width: 768px) {
        margin-right: 0;
    }
}