.contact-keep-in-touch {
    background-image: url(../images/backgrounds/dottedTop.svg);
    background-position: 6% 563%;
    background-size: 176% 91%;
    background-repeat: no-repeat;
    margin-top: 4rem;
    padding: 0 5%;
    padding-bottom: 3rem;
    text-align: center;

    &__details {

        &__title {
            font-size: 1.8rem;
        }

        &__desc {
            color: $color-text-gray;
            font-size: 1.3rem;
            font-weight: 300;
            padding: $padding-l;
            margin-top: $margin-xl;
        }

        &__btn {
            background-color: $color-blue;
            color: white;
            width: 100%;
            padding: $padding-xl $padding-xs;
            border-radius: $border-rad-xl;
        }
    }

    &__img {
        margin-top: 5rem;
    }

    @media (min-width: 768px) {
        background-position: 1% -11%;
        background-size: 84% 161%;
        padding: 0 10%;
        padding-bottom: 2rem;
        @include dflex();
        &>* {
            width: calc(100%/2);
        }

        &__details {
            text-align: start;

            &__desc {
                padding: $padding-l 0;
                
            }

            &__btn {
                max-width: 250px;
                text-align: center;
                margin-top: $margin-l;
            }
        }

        
    }

    @media (min-width: 768px) {
        margin-top: 0;
    }
    
}