.cooperations {
    
    margin-top: 3rem;

    &__title {
        color: $color-dark-lighter;
        @include widthauto(80%);
        text-align: center;
    }

    &__img {
        display: block;
        width: 80%;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 768px) {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}