.how {
    background-image: url(../images/backgrounds/dottedTop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-top: 10rem;

    padding: 0 10%;
    padding-top: 20rem;
    padding-bottom: 5rem;
    position: relative;
    text-align: center;


    &__top-img {
        display: block;
        @include widthauto(80%);
        max-width: 300px;
        position: absolute;
        top: -7rem;
        left: 50%;
        transform: translateX(-50%)
    }

    &__item {

        @include dflex(center, center, column, nowrap);
        margin-top: 3rem;
        &__icon {
            color: $color-dark-lighter;
            font-size: 2rem;
        }

        &__title {
            margin-top: $margin-l;
           
        }

        &__desc {
            color: $color-text-gray;
        }


    }

    

    @media (min-width: 768px) {
        margin-top: 2rem;
        padding-top: 50%;
        padding-bottom: 20%;

        &__top-img {
            top: 2rem;
            left: 25%;
        }

        .how__items__flex {
            @include dflex(space-between, center);
            gap: 1.5rem;
        }
    }

    @media (max-width: 940px) {
        &__top-img {
            max-width: 250px;
        }
    }

    

}