.process {
    margin-top: 5rem;
    text-align: center;
    &__title {
        color: $color-accent;
    }

    &__subtitle {
        margin-top: 1rem;
        margin-bottom: 3rem
    }

    &__step {
        @include dflex(flex-start);
        gap: 1.5rem;
        @include widthauto(80%);
        margin-bottom: 2.5rem;
        position: relative;


        &__container-img {
            background-color: #fdf3f1;
            padding: 12px;
            width: 70px;
            height: 70px;
            @include dflex();
            flex-shrink: 0;
            border-radius: 500px;
            z-index: 5;

            &__img {
                font-size: 1.5rem;
                color: $color-accent;
                z-index: inherit;
            }
        }

        &__desc {

            text-align: start;
            &__title {
                font-weight: normal;
            }

            &__description {
                color: $color-text-gray;
                margin: 0;
            }
        }


        &__dots {
            position: absolute;
            right: .5rem;
            top: -100%;
            display: none;
            height: 130px;
            width: 60px;
            object-fit: scale-down;
            
        }
    }

    &__step:not(.process__step:nth-child(1)) > .process__step__dots {
        display: block;
        
    }

    @media (min-width: 768px){
        &__title {
            font-size: 2rem;
        }

        &__subtitle {
            font-size: 1.8rem;
        }

        .process-container {
            @include dflex(space-between,flex-start, row, nowrap);
            gap: 1rem;
            max-width: 1000px;
            margin: 0 auto;
            
        }

        &__step {
            @include dflex(flex-start, center, column, nowrap);
            
            &__desc {

                &__title {
                    text-align: center;
                }

                &__description {
                    text-align: center;
                }
            }

            &__dots {
                transform: rotate(90deg);
                top: -22%;
                right: -2.5rem;
                height: 160px;
            }
        }
        margin-bottom: 3rem;
       
    }
}